CONFIG_IDF_TARGET="esp32s3"

#CONFIG_ESP_CONSOLE_UART_DEFAULT=n
#CONFIG_ESP_CONSOLE_SECONDARY_NONE=n
#CONFIG_ESP_CONSOLE_UART_NUM=-1

#CONFIG_ESP_CONSOLE_SECONDARY_USB_SERIAL_JTAG=n
#CONFIG_APPTRACE_DEST_UART0=y


#CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y # for liligo

#CONFIG_BLINK_LED_MOCK=y #this is for lilygo as it has no led

#CONFIG_LILIGO_S3=false

#CONFIG_NOT_LILIGO=true