CONFIG_BT_ENABLED=n
CONFIG_BT_BLUEDROID_ENABLED=n
CONFIG_BT_NIMBLE_ENABLED=n

CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
CONFIG_BTDM_CTRL_MODE_BR_EDR_ONLY=n
CONFIG_BTDM_CTRL_MODE_BTDM=n

CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y

CONFIG_MAX_STA_CONN_TO_AP=4

#
# Wifi Initial Configuration
#

CONFIG_WIFI_SOFTAP=y
CONFIG_SOFTAP_WIFI_SSID="sniff"
CONFIG_SOFTAP_WIFI_PASSWORD="mypassword"
CONFIG_SOFTAP_WIFI_CHANNEL=1
CONFIG_SOFTAP_WIFI_IP="192.168.19.1"

CONFIG_WIFI_STA=n
CONFIG_STA_WIFI_SSID="ssidtojoin"
CONFIG_STA_WIFI_PASSWORD="mypassword"

#
# Sniffer Configuration
#
CONFIG_SNIFFER_QUEUE_SIZE=80
CONFIG_CHANNEL=11
CONFIG_SNIFFER_SNAP_LEN=1000


CONFIG_ESP_CONSOLE_SECONDARY_NONE=y

#CONFIG_NOT_LILIGO=1
#CONFIG_USE_OLED=1
#CONFIG_USE_LCD=1

# end of Sniffer Configuration