menu "Sniffer Configuration"

	config SNIFFER_QUEUE_SIZE
		int "QueueSize"
		range 30 200
		default 100
		help
			Sniffer Queue Size

					
	config CHANNEL
		int "Sniffing channel"
		range 1 13
		default 11
		help
			Channel in which ESP32 will sniff PROBE REQUEST
		
	config SNIFFER_SNAP_LEN
		int "SnapLen"
		range 200 2500
		default 1000
		help
			Sniffer Maximum Packet Szie

	
	config SNIFFING_TIME
		depends on WIFI_NONE
		int "Time of sniffig in seconds"
		default 60
		help
			Time must be in seconds
	
endmenu
